* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

section {
    border: 1px solid black;

    padding: 20px;
    display: flex;

    flex-wrap: wrap;
}

.llibre {
    width: 230px;

    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px black;
}

.llibre img {
    width: 100%;
    height: 345;
    border: 1px solid black;
}

.dades {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.dades h2 {
    color: red;
}

.compra {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    
    color: black;
    font-size: 25px;
    font-family: sans-serif;
    
    display: flex;
    justify-content: center;
}

.compra:hover{
    background: black;
    color:white;
}
